---
import SocialIcons from '@/components/SocialIcons.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout title="nabilSnigdho">
	<h1>Wellcome</h1>
	<p>
		I'm S. Mahmud Nabil. I’m currently pursuing a BSc Engr. degree in Materials
		Science and Engineering at <a
			href="https://www.mse.ruet.ac.bd/"
			target="_blank">RUET</a
		>.
	</p>
	<p>
		Alongside my studies, I work full-time as a Full Stack Web Developer, where
		I build and maintain dynamic, user-friendly web applications.
	</p>
	<p>
		I’m also an open-source and Linux enthusiast, actively exploring and
		contributing to various projects.
	</p>
	<SocialIcons />
</Layout>
