---
import SocialIcons from '@/components/SocialIcons.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout title="nabilSnigdho">
	<div class="text-center">
		<h1>Hello there!</h1>
		<div
			class="mx-auto my-12 flex aspect-square h-auto w-1/2 items-center justify-center overflow-hidden rounded-full border border-solid border-black p-2 dark:border-white dark:bg-gray-400"
		>
			<img src="/photo-bw.webp" alt="" class="max-h-full" />
		</div>
		<p>
			I'm S. Mahmud Nabil. I’m currently pursuing a B.Sc. Engr. degree in
			Materials Science and Engineering at <a
				href="https://www.mse.ruet.ac.bd/"
				target="_blank">RUET</a
			>.
		</p>
		<p>
			Alongside my studies, I work full-time as a Full Stack Web Developer,
			where I build and maintain dynamic, user-friendly web applications.
		</p>
		<p>
			I’m also an open-source and Linux enthusiast, actively exploring and
			contributing to various projects.
		</p>
		<div class="mb-8">
			<h2>Connect with me on</h2>
			<SocialIcons />
		</div>
	</div>
</Layout>
