---
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'button'>

const { ...attrs } = Astro.props
---

<li class="group">
	<button
		role="menuitem"
		tabindex="-1"
		class:list={[
			'dropdown-item hover:(bg-zinc-100 dark:(bg-zinc-600 text-white)) block flex w-full items-center gap-2 px-4 py-2 text-left',
			'dark:group-[.active]:(bg-zinc-600 text-white) group-[.active]:bg-zinc-100',
		]}
		{...attrs}
	>
		<slot />
	</button>
</li>
